.title{
    background: var(--gradiant-primaire);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@import url('https://fonts.cdnfonts.com/css/inter');

.menu{
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.list{
    display: flex;
    align-items: center;
    color: var(--color-body);
    column-gap: 12px;
    cursor: pointer;
}

.navinput {
    color: var(--bg-grey);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    outline: none;
    width: 240px; /* Ajustez la largeur selon vos besoins */
}

.navinputdetail{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-body);
}

.navbutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #171717;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid #E2E8F0;
    padding: 6px 12px;
}